In [1]:
import  joblib
import pandas as pd

In [2]:
file_name =  'Position_Salaries.sav'
sav_model = joblib.load(file_name)

In [3]:
level=[1,1]
level1 = [6,8]
level2 =[36,64]
level3 = [216,512]
level4 = [1296,4096]

raw_data = pd.DataFrame({'Level':level,'Level1':level1,'Level2':level2,'Level3':level3,'Level4':level4})
raw_data

   Level  Level1  Level2  Level3  Level4
0      1       6      36     216    1296
1      1       8      64     512    4096

In [4]:
print("The predicted Salary for Level 6 and 8 is:")
import warnings
warnings.filterwarnings("ignore")
sav_model.predict(raw_data)

The predicted Salary for Level 6 and 8 is:

array([[143275.05827508],
       [289994.17249411]])